<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>

<h1>Word Search Puzzle Generator</h1>

<div th:if="${couldNotGeneratePuzzle != null}" class="error">Sorry, it took too long to create your puzzle. Please try again!</div>

<form action="/puzzle" method="get">
    <div>
        <div th:if="${bindingResult != null and bindingResult.getFieldError('width') != null}">
            <div th:text="${bindingResult.getFieldError('width').getDefaultMessage()}" class="error">Error</div>
        </div>
        <label for="width">Width</label>
        <input type="text" name="width" id="width" th:value="${configuration.width}" />
    </div>
    <div>
        <div th:if="${bindingResult != null and bindingResult.getFieldError('height') != null}">
            <div th:text="${bindingResult.getFieldError('height').getDefaultMessage()}" class="error">Error</div>
        </div>
        <label for="height">Height</label>
        <input type="text" name="height" id="height" th:value="${configuration.height}" />
    </div>
    <div>
        <div th:if="${bindingResult != null and bindingResult.getFieldError('words') != null}">
            <div th:text="${bindingResult.getFieldError('words').getDefaultMessage()}" class="error">Error</div>
        </div>
        <label for="words">How many words?</label>
        <input type="text" name="words" id="words" th:value="${configuration.words}" />
    </div>
    <div>
        <div th:if="${bindingResult != null and bindingResult.getFieldError('minLength') != null}">
            <div th:text="${bindingResult.getFieldError('minLength').getDefaultMessage()}" class="error">Error</div>
        </div>
        <label for="minLength">Minimum length of words</label>
        <input type="text" name="minLength" id="minLength" th:value="${configuration.minLength}" />
    </div>
    <div>
        <div th:if="${bindingResult != null and bindingResult.getFieldError('maxLength') != null}">
            <div th:text="${bindingResult.getFieldError('maxLength').getDefaultMessage()}" class="error">Error</div>
        </div>
        <label for="maxLength">Maximum length of words</label>
        <input type="text" name="maxLength" id="maxLength" th:value="${configuration.maxLength}" />
    </div>

    <div th:if="${bindingResult != null and bindingResult.getFieldError('capabilities') != null}">
        <div th:text="${bindingResult.getFieldError('capabilities').getDefaultMessage()}" class="error">Error</div>
    </div>
    <div th:each="capability: ${capabilities}">
        <label th:for="${capability.keyword}">
            <input type="checkbox" name="capabilities" th:value="${capability.keyword}" th:checked="${#lists.contains(configuration.capabilities, capability.keyword)}" />
            <div class="capabilityDetail">
                <strong th:text="${capability.name}">Name</strong>
                <div th:text="${capability.description}">Description</div>
            </div>
        </label>
    </div>

    <input type="hidden" name="seed" th:value="${configuration.seed}" />

    <button>Game On!</button>
</form>

</body>
</html>